/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.pokemonList {
  display: inline;
}

h1 {
  font-family:'Teko', sans-serif;
  font-size: 40px;
  color:#555;
  margin-left: 150px;
}

.button--pokemonItem {
  background-color: #555;
  color: white;
  width: 400px;
  height: 50px;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
}
